:root {
    --tc-theme-color: #3c6e71;
    --tc-theme-sec-color: #3c6e71;
    --tc-body-color: #353535;
    --tc-white: #ffffff;
    --tc-grey-color: #d9d9d9;
    --tc-grey-color-2: #f6f6f6;
    --tc-grey-color-3: #f6f6f6;
    --tc-grey-color-4: #f6f6f6;
}